<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Cleartrip Automation Suite">

<!-- Extent Report Listener -->
<listeners>
    <listener class-name="listeners.TestListener"/>
</listeners>

<test name="Cleartrip Tests">

    <classes>

        <!-- Positive Test Cases -->
        <class name="tests.FlightsNavigationTest"/>
        <class name="tests.FlightSearchTest"/>
        <class name="tests.FlightResultsTest"/>
        <class name="tests.FlightFilterTest"/>
        <class name="tests.OriginFieldTest"/>
        <class name="tests.TravellerSectionTest"/>
        <class name="tests.TripOptionsTest"/>
        <class name="tests.HotelsNavigationTest"/>

        <!-- Negative Test Cases -->
        <class name="tests.NegativeElementNotFoundTest"/>
        <class name="tests.NegativeSearchWithoutDestinationTest"/>

    </classes>

</test>

</suite>
